<div class="container">
  <div id="logbox">
    <%= form_with scope: :session, url: login_path, id: 'signup' do |f| %>
      <h1>ログイン</h1>
      <%= f.email_field :email, placeholder: 'メールアドレス', class: 'input pass' %>
      <%= f.password_field :password, placeholder: 'パスワード', class: 'input pass' %>
      <%= f.submit 'ログイン', class: 'inputButton' %>
      <div class="text-center">  
        <%= f.check_box :remember_me %>
        <span>このコンピューターに記憶する</span>
      </div>
      <div class='text-center'>
        <%= link_to 'パスワードを忘れた', '#' %>
      </div>
    <% end %>
  </div>
</div>