<h1>未完了タスク一覧表示</h1>

<div class="task_form">
  <%= form_with url: tasks_path do |form| %>
    <%= form.text_area :content, size: "50x5" %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= form.submit "タスクを作成" , class: 'submit-button' %>
  <% end %>
</div>

<div class="task-list">
  <table border="1" width="50%">
    <tr bgcolor="silver">
      <th>作成日</th>
      <th>未完了タスク一覧</th>
      <th>完了</th>
      <th>削除</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <th><%= task.created_at.strftime('%Y/%m/%d') %></th>
        <th><%= task.content %></th>
        <th><%= link_to "完了", complete_path(id: task.id), method: :post %></th>
        <th><%= link_to "削除", tasks_destroy_path(id: task.id), method: :delete %>  <%# タスクidをパラメータとして送信 %></th>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @tasks %>