<h1>プロフィール編集画面</h1>
<%= form_with model: @user do |form| %>

  <%= render 'shared/error_messages', model: form.object %>
  <li>
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
  </li>

  <li>
  <%= form.label :email, "メールアドレス" %>
  <%= form.email_field :email %>
  </li>

  <li>
      <%= form.label :password, "パスワード" %>
      <%= form.password_field :password %>
    </li>
      
    <li>
      <%= form.label :password_confirmation, "パスワード確認" %>
      <%= form.password_field :password_confirmation %>
    </li> 

  <%= form.submit "変更"%>

<% end %>