<div class="container">
  <div id="logbox">
    <%= form_with model: @user, id: 'singup' do |f| %>
      <h1>アカウントの作成</h1>
      <%= f.text_field :name, placeholder: 'ユーザー名', class: 'input pass' %>
      <%= f.email_field :email, placeholder: 'メールアドレス', class: 'input pass' %>
      <%= f.password_field :password, placeholder: 'パスワード', class: 'input pass' %>
      <%= f.password_field :password_confirmation, placeholder: 'パスワードの確認', class: 'input pass' %>
      <%= f.submit 'アカウント作成', class: 'inputButton' %>
    <% end %>
  </div>
</div>