<% if logged_in? %>

<div class="container">
  <div class="col-md-4">
    <div class="task-list-top" align="center">
    <h3>進行中のタスク</h3>
    <ul class="list-group">
      <% if @tasks_doing %>
        <% @tasks_doing.each do |task| %>
          <li class="list-group-item-primary"><%= task.content %></li>
        <% end %>
      <% else %>
        <p>進行中のタスクはありません</p>
      <% end %>
    <ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="task-list-top" align="center">
    <h3>未完了のタスク</h3>
    <ul class="list-group">
      <% if @tasks %>
        <% @tasks.each do |task| %>
          <li class="list-group-item-warning"><%= task.content %></li>
        <% end %>
        <% if @tasks.count >= 8 %>
          <font size="5" align="center">:</font>
        <% end %>
      <% else %>
        <p>未完了のタスクはありません</p>
      <% end %>
    <ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="task-list-top" align="center">
    <h3>完了済みのタスク</h3>
    <ul class="list-group">
      <% if @tasks_done %>
        <% @tasks_done.each do |task| %>
          <li class="list-group-item-success"><%= task.content %></li>
        <% end %>
        <% if @tasks_done.count >= 8 %>
          <font size="5" align="center">:</font>
        <% end %>
      <% else %>
        <p>完了済みのタスクはありません</p>
      <% end %>
    <ul>
    </div>
  </div>
</div>

<% else %>

<div class="container">
  <div class="col-md-6">
    <div id="logbox">
      <%= form_with model: @user, id: 'singup' do |f| %>
        <h1>アカウントの作成</h1>
        <%= f.text_field :name, placeholder: 'ユーザー名', class: 'input pass' %>
        <%= f.email_field :email, placeholder: 'メールアドレス', class: 'input pass' %>
        <%= f.password_field :password, placeholder: 'パスワード', class: 'input pass' %>
        <%= f.password_field :password_confirmation, placeholder: 'パスワードの確認', class: 'input pass' %>
        <%= f.submit 'アカウント作成', class: 'inputButton' %>
      <% end %>
    </div>
  </div>
    <!--col-md-6-->
    
  <div class="col-md-6">
    <div id="logbox">
      <%= form_with scope: :session, url: login_path, id: 'signup' do |f| %>
        <h1>ログイン</h1>
        <%= f.email_field :email, placeholder: 'メールアドレス', class: 'input pass' %>
        <%= f.password_field :password, placeholder: 'パスワード', class: 'input pass' %>
        <%= f.submit 'ログイン', class: 'inputButton' %>
        <div class="text-center">  
          <%= f.check_box :remember_me %>
          <span>このコンピューターに記憶する</span>
        </div>
        <div class='text-center'>
          <%= link_to 'パスワードを忘れた', '#' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>